<a href="https://colab.research.google.com/github/Shivkumar-777/Edu-Python/blob/main/Edu_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
string = 'nbn sinhgad'
print(string)

nbn sinhgad

In [ ]:
weekly_temp = [25, 27, 28, 26, 24, 24, 30, 29]

print(f"Weekly temperatures : {weekly_temp}")

weekly_temp.remove(25)
print(f"Update 1 : Weekly temperatures : {weekly_temp}")

weekly_temp.insert(0, 23)
print(f"Update 2 : Weekly temperatures : {weekly_temp}")

weekly_temp.append(25)
print(f"Update 3 : Weekly temperatures : {weekly_temp}")

tuple_wt = tuple(weekly_temp)
tuple_wt.insert(0, 23)
print(f"Update 4 : Weekly temperatures : {tuple_wt}")

Weekly temperatures : [25, 27, 28, 26, 24, 24, 30, 29]
Update 1 : Weekly temperatures : [27, 28, 26, 24, 24, 30, 29]
Update 2 : Weekly temperatures : [23, 27, 28, 26, 24, 24, 30, 29]
Update 3 : Weekly temperatures : [23, 27, 28, 26, 24, 24, 30, 29, 25]

AttributeError: 'tuple' object has no attribute 'insert'

In [ ]:
city_data = {
    "Name" : "Delhi",
    "Temperature": 25,
    "Carbon_Footprint" : 500.75,
    "Is_Sustanable" : False
}

print(f"City data : {city_data}")

city_data['AQI'] = 100
print(f"Update 1 : City data : {city_data}")

del city_data['Temperature']
print(f"Update 2 : City data : {city_data}")

city_data['Temperature'] = 26
print(f"Update 3 : City data : {city_data}")

City data : {'Name': 'Delhi', 'Temperature': 25, 'Carbon_Footprint': 500.75, 'Is_Sustanable': False}
Update 1 : City data : {'Name': 'Delhi', 'Temperature': 25, 'Carbon_Footprint': 500.75, 'Is_Sustanable': False, 'AQI': 100}
Update 2 : City data : {'Name': 'Delhi', 'Carbon_Footprint': 500.75, 'Is_Sustanable': False, 'AQI': 100}
Update 3 : City data : {'Name': 'Delhi', 'Carbon_Footprint': 500.75, 'Is_Sustanable': False, 'AQI': 100, 'Temperature': 26}

In [ ]:
# Operators

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

print(f"Addition : {num1 + num2}")
print(f"Subtraction : {num1 - num2}")
print(f"Multiplication : {num1 * num2}")
print(f"Division : {num1 / num2}")
print(f"Floor Division : {num1 // num2}")

Enter first number : 10
Enter second number : 2
Addition : 12
Subtraction : 8
Multiplication : 20
Division : 5.0
Floor Division : 5

In [ ]:
#Comparasion Operators

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

print(f"Is num1 greater than num2 : {num1 > num2}")
print(f"Is num1 less than num2 : {num1 < num2}")
print(f"Is num1 greater than or equal to num2 : {num1 >= num2}")
print(f"Is num1 less than or equal to num2 : {num1 <= num2}")
print(f"Is num1 equal to num2 : {num1 == num2}")
print(f"Is num1 not equal to num2 : {num1 != num2}")

Enter first number : 200
Enter second number : 100
Is num1 greater than num2 : True
Is num1 less than num2 : False
Is num1 greater than or equal to num2 : True
Is num1 less than or equal to num2 : False
Is num1 equal to num2 : False
Is num1 not equal to num2 : True

In [ ]:
# Assignment Operators

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

num1 += num2
print(f"Update 1 : num1 : {num1}")

num1 -= num2
print(f"Update 2 : num1 : {num1}")

num1 *= num2
print(f"Update 3 : num1 : {num1}")

num1 /= num2
print(f"Update 4 : num1 : {num1}")

num1 //= num2
print(f"Update 5 : num1 : {num1}")

Enter first number : 5
Enter second number : 3
Update 1 : num1 : 8
Update 2 : num1 : 5
Update 3 : num1 : 15
Update 4 : num1 : 5.0
Update 5 : num1 : 1.0

In [ ]:
5//3

1

In [ ]:
# Logical Operator

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

if num1 > num2

In [ ]:
# Identical Operator

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

print(f"Is num1 identical to num2 : {num1 is num2}")
print(f"Is num1 not identical to num2 : {num1 is not num2}")

Enter first number : 5
Enter second number : 5
Is num1 identical to num2 : True
Is num1 not identical to num2 : False

In [ ]:
# Membership Operator

numbers_list = [1, 5, 10, 15, 20]

num1 = int(input("Enter a number to check for membership: "))

# Example of isdigit() and isalpha() usage
user_input_string = input("Enter a string to check for digits/alphabets: ")
print(f"Is the string composed of only digits? {user_input_string.isdigit()}")
print(f"Is the string composed of only alphabetic characters? {user_input_string.isalpha()}")

Enter a number to check for membership: 10
Is 10 in the list: True
Is 10 not in the list: False
Enter a string to check for digits/alphabets: a
Is the string composed of only digits? False
Is the string composed of only alphabetic characters? True

In [ ]:
# Right and Left Shift Operator

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

print(f"Result of right shift ({num1} >> {num2}): {num1 >> num2}")
print(f"Result of left shift ({num1} << {num2}): {num1 << num2}")

Enter first number : 2
Enter second number : 4
Result of right shift (2 >> 4): 0
Result of left shift (2 << 4): 32

In [ ]:
# Conditional Statements

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))

if num1 > num2:
    print(f"{num1} is greater than {num2}")

elif num1 < num2:
    print(f"{num1} is less than {num2}")

else:
    print(f"{num1} is equal to {num2}")

Enter first number : 100
Enter second number : 50
100 is greater than 50

In [ ]:
# Calculator

num1 = int(input("Enter first number : "))
num2 = int(input("Enter second number : "))
operator = input("Enter operator : ")

if operator == '+':
    print(f"{num1} + {num2} = {num1 + num2}")

elif operator == '-':
    print(f"{num1} - {num2} = {num1 - num2}")

elif operator == '*':
    print(f"{num1} * {num2} = {num1 * num2}")

elif operator == '/':
    print(f"{num1} / {num2} = {num1 / num2}")

else:
    print("Invalid operator")

Enter first number : 10
Enter second number : 20
Enter operator : +
10 + 20 = 30

In [ ]:
num1 = int(input("Enter the first number : "))
num2 = int(input("Enter the second number : "))

print("1. Addition")
print("2. Subtraction")
print("3. Multiplication")
print("4. Division")

choice = int(input("Enter your choice : "))

if choice == 1:
    print("The sum of", num1, "and", num2, "is", num1 + num2)
elif choice == 2:
    print("The difference between", num1, "and", num2, "is", num1 - num2)
elif choice == 3:
    print("The product of", num1, "and", num2, "is", num1 * num2)
elif choice == 4:
    print("The division of", num1, "by", num2, "is", num1 / num2)
else:
    print("Invalid choice")

Enter the first number : 10
Enter the second number : 20
1. Addition
2. Subtraction
3. Multiplication
4. Division
Enter your choice : 1
The sum of 10 and 20 is 30

In [ ]:
# For Loop

for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
# Table of 2 usinf for loop

for i in range(1, 11):
    print("2 x", i, "=", 2 * i)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [5]:
# While Loop

c = 10

while c < 10:
  print(c)

In [6]:
print("Hello")

Hello

In [9]:
c = 0

while c < 10:
  print(c)

  c = c + 1
else:
  print("c")

0
1
2
3
4
5
6
7
8
9
c

In [12]:
for i in range(1, 11):
    if i == 5:
        break
    print(i)
else:
    print("Loop completed")

1
2
3
4

In [15]:
# Using Pass

for i in range(1, 11):
    if i == 5:
        pass
print(i)

10

In [19]:
# Functions in Python

def add(num1, num2):
    return num1 + num2

print(add(10, 20))

30

In [25]:
def greet(name, age):
  print(f"Hello {name}, you are {age}")

greet("John", 30)

Hello John, you are 30

In [28]:
# Write a code to find the average of a weekly temperature from a list

weekly_temp = [25, 27, 28, 26, 24, 24, 30, 29]

total = 0

for temp in weekly_temp:
    total += temp

average = total / len(weekly_temp)

print(f"The average temperature is {average}")

The average temperature is 26.625

In [29]:
climate_data = [
    {"city": "City A", "temperature": 25, "carbon_footprint": 500},
    {"city": "City B", "temperature": 30, "carbon_footprint": 350},
    {"city": "City C", "temperature": 22, "carbon_footprint": 600},
    {"city": "City D", "temperature": 15, "carbon_footprint": 200},
    {"city": "City E", "temperature": 28, "carbon_footprint": 450},
]

for data in climate_data:
    if data["temperature"] > 26:
        print(data["city"])

City B
City E